img {
    width: 80px;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
}

.card {
    border-width: 3px;
    border-radius: 10px;
    border-color: rgb(236, 236, 236);
}

p {
    font-weight: 600;
    color: #0000005b;
}

ul li {
    font-weight: 600;
    background: rgb(239, 241, 243);
    border-end-end-radius: 8px;
    border-end-start-radius:  8px;
    color: rgb(165, 165, 165);
}

.card:hover p{
    color: rgb(95, 95, 95);
}

.card:hover ul li{
    background: rgb(199, 215, 228);
    color: rgb(74, 116, 255);
}
.card:hover{
    border-color: rgb(199, 215, 228);
}