<h6 class="position-absolute text-primary">Indique la linea de crédito que quiere considerar</h6>
<div class="position-absolute container mt-5">
    <div class="col-12 d-flex justify-content-center">

        <div class="card m-2" style="width: 12rem;" id="card1">
            <label for="card1">
                <img class="card-img-top" src="../../../assets/img/hands.PNG" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Cartera Ordinaria</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item font-weight-bold">Continuar</li>
                </ul>
            </label>
        </div>


        <div class="card m-2 p-0" style="width: 12rem;" id="card2">
            <label for="card2">
                <img class="card-img-top" src="../../../assets/img/house.PNG" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Cartera Ordinaria</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item font-weight-bold">Continuar</li>
                </ul>
            </label>
        </div>
    </div>
</div>